<?xml version="1.0" ?>
<launch>
    <!-- Start joint controller -->
    <rosparam file="$(find me212arm)/config/joint1.yaml" command="load"/>
    <node name="joint1_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port arm_port
                joint1_controller"
          output="screen"/>
          
    <rosparam file="$(find me212arm)/config/joint2.yaml" command="load"/>
    <node name="joint2_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port arm_port
                joint2_controller"
          output="screen"/>
          
    

<!--
    <node name="joint_state_publisher" pkg="me212arm" type="joint_state_publisher.py" required="true" output="screen"/>
-->

</launch>
